<script type="text/ng-template" id="renameTodoList.html">
    <div class="modal-header">
        <h3 class="modal-title">Rename TodoList</h3>
    </div>
    <div class="modal-body">
        <div>
            <form novalidate>
                <div>{{selectedTodoList.name}}</div>
                <div><input type="text" ng-model="selectedTodoList.newName" /></div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="cancel()" value="Cancel" class="btn btn-warning" />
        <input type="submit" ng-click="ok()" value="Rename" class="btn btn-primary" />
    </div>
</script>

<h1>Todo list</h1>
<ul class="thumbnails">
    <li ng-repeat="todoList in todoLists">
        <div class="well hoverwell">
            {{todoList.id}} - {{todoList.name}}
            <div class="row">
                <div class="col-md-2"><button class="btn btn-default" ng-click="open(todoList)">Rename</button></div>
                <div class="col-md-2"><input type="button" ng-click="archive()" value="Archive" class="btn btn-default" /></div>
                <div class="col-md-2"><input type="button" ng-click="addTodo()" value="Add Todo" class="btn btn-default" /></div>
                
            </div>
        </div>
    </li>
</ul>

