<script type="text/ng-template" id="renameTodoList.html">
    <div class="modal-header">
        <h3 class="modal-title">Rename TodoList</h3>
    </div>
    <div class="modal-body">
        <div>
            <form novalidate>
                <div>{{selectedTodoList.name}}</div>
                <div><input type="text" ng-model="selectedTodoList.newName" /></div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="cancel()" value="Cancel" class="btn btn-default" />
        <input type="submit" ng-click="ok()" value="Rename" class="btn btn-default" />
    </div>
</script>

<script type="text/ng-template" id="addTodoItem.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Todo Item</h3>
    </div>
    <div class="modal-body">
        <div>
            <form novalidate>
                <div>{{selectedTodoList.name}}</div>

                <div>
                    <label>Todo Item Name:</label>
                    <input type="text" ng-model="todoItem.name" />
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="cancel()" value="Cancel" class="btn btn-default" />
        <input type="submit" ng-click="ok(todoItem)" value="Create" class="btn btn-default" />
    </div>
</script>

<script type="text/ng-template" id="scheduleTodoItem.html">
    <div class="modal-header">
        <h3 class="modal-title">Schedule Todo Item</h3>
    </div>
    <div class="modal-body">
        <div>
            <form novalidate>
                <div>{{selectedTodoItem.name}}</div>
                <div>
                    <label>Select the due date:</label>
                    <input kendo-date-time-picker ng-model="selectedTodoItem.dueDate" />
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="cancel()" value="Cancel" class="btn btn-default" />
        <input type="submit" ng-click="ok(selectedTodoItem)" value="Schedule" class="btn btn-default" />
    </div>
</script>

<script type="text/ng-template" id="reScheduleTodoItem.html">
    <div class="modal-header">
        <h3 class="modal-title">Re Schedule Todo Item</h3>
    </div>
    <div class="modal-body">
        <div>
            <form novalidate>
                <div>{{selectedTodoItem.name}}</div>
                <div>
                    <label>Select the due date:</label>
                    <input kendo-date-time-picker ng-model="selectedTodoItem.dueDate" />
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="cancel()" value="Cancel" class="btn btn-default" />
        <input type="submit" ng-click="ok(selectedTodoItem)" value="Schedule" class="btn btn-default" />
    </div>
</script>

<script type="text/ng-template" id="completeTodoItem.html">
    <div class="modal-header">
        <h3 class="modal-title">Complete Todo Item</h3>
    </div>
    <div class="modal-body">
        <div>
            <form novalidate>
                <div>{{selectedTodoItem.name}}</div>
                <div>
                    <label>Select the completed time:</label>
                    <input kendo-date-time-picker ng-model="selectedTodoItem.completedTime" />
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" ng-click="cancel()" value="Cancel" class="btn btn-default" />
        <input type="submit" ng-click="ok(selectedTodoItem)" value="Schedule" class="btn btn-default" />
    </div>
</script>

<h3>Todo list</h3>
<ul class="thumbnails list-group, bulletless-list">
    <li ng-repeat="todoList in todoLists">
        <div class="well hoverwell">
            {{todoList.id}} - {{todoList.name}}
            <input type="button" ng-click="openRenameModal(todoList)" value="Rename" class="btn btn-default" ng-disabled="todoList.isArchived" />
            <input type="button" ng-click="archive(todoList)" value="Archive" class="btn btn-default" ng-disabled="todoList.isArchived" />
            <input type="button" ng-click="openAddTodoItemModal(todoList)" value="Add Todo" class="btn btn-default" ng-disabled="todoList.isArchived" />
        <ul class="list-group" style="margin-top:10px">
            <li class="list-group-item" ng-repeat="todoItem in todoList.todoItems">
                <div>
                    <span>{{todoItem.name}}</span>
                    <div ng-hide="todoItem.isCompleted">
                        <span ng-show="todoItem.dueDate">Is due on : {{todoItem.dueDate}}</span>
                        <input type="button" value="Re Schedule" class="btn btn-default"
                               ng-click="openReScheduleTodoItemModal(todoItem, todoList.id)"
                               ng-show="todoItem.dueDate"
                               ng-disabled="todoList.isArchived" />
                        <input type="button" value="Schedule" class="btn btn-default"
                               ng-click="openScheduleTodoItemModal(todoItem, todoList.id)"
                               ng-hide="todoItem.dueDate"
                               ng-disabled="todoList.isArchived" />
                        <input type="button" value="Discard" class="btn btn-default"
                               ng-click="discardTodoItem(todoItem, todoList)"
                               ng-disabled="todoList.isArchived" />
                        <input type="button" value="Mark as completed" class="btn btn-default"
                               ng-click="openCompleteTodoItemModal(todoItem, todoList.id)"
                               ng-disabled="todoList.isArchived" />
                    </div>
                    <div ng-show="todoItem.isCompleted">
                        <span>Completed on {{todoItem.completedTime}}</span>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </li>
</ul>

<span kendo-notification="saveSuccessfulNotification"></span>
<span kendo-notification="renameSuccessfulNotification"></span>
<span kendo-notification="errorNotification"></span>

